name: HabuTax CI Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.8", "3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: make test
